* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  list-style: none;
  text-decoration: none;
  background-color: #f2fffe;
}

header {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1000;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 9%;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo img {
  width: 50px;
  margin: 0;
  padding: 0;
}

.logo h6 {
  margin: 0;
  padding: 0;
  line-height: 1;
  text-align: center;
}

.navlist {
  display: flex;
}

.navlist a:active {
  text-decoration: underline;
  color: red;
}

.navlist a {
  color: #3166aa;
  margin-left: 60px;
  font-size: 15px;
  font-weight: 600;
}

.navlist li a {
  transition: 0.2s ease;
}

.navlist a:hover {
  border-radius: 10px;
  padding: 7px;
}

#menu-icon {
  color: gray;
  font-size: 30px;
  display: none;
}

@media (max-width: 1024px) {
  header {
    padding: 15px 3%;
  }
}

@media (max-width: 800px) {
  #menu-icon {
    display: block;
  }

  .navlist {
    position: absolute;
    top: 100%;
    right: 800px;
    width: 300px;
    height: 300px;
    background: #f2fffe;
    display: flex;
    align-items: center;
    flex-direction: column;
    transition: all 0.2s ease-in-out;
    padding: 50px 20px;
  }

  .navlist a {
    display: block;
    margin-left: 0;
    margin: 8px 0;
  }

  .navlist.open {
    right: 0;
  }
}

footer {
  width: 100%;
  background-color: #f2fffe;
  margin-top: 50px;
  padding: 30px 0;
  line-height: 1.8;
  padding: 10px;
  position: relative;
  z-index: 1;
}

.ftr-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.ftr-items ul {
  margin-left: 20px;
  flex: 0 0 30%;
  margin-top: 30px;
  margin-bottom: 30px;
}

.logo img {
  max-width: 150px;
  height: auto;
}

.ftr-items h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.ftr-items ul {
  line-height: 1.5;
  list-style: none;
}

.ftr-items li {
  margin-bottom: 5px;
}

.ftr-items a {
  color: #0056b3;
  text-decoration: none;
}

.ftr-items a:hover {
  color: #666;
}

.ft-social {
  margin-top: 20px;
}

.ftr-list {
  display: flex;
  list-style: none;
}

.ftr-list li {
  margin-right: 20px;
}

.ftr-list a {
  color: #3166aa;
  font-size: 20px;
}

.ftr-list a:hover {
  color: #160606;
}

/* Responsive styles */
@media (max-width: 767px) {
  .ftr-main {
    flex-direction: column;
    align-items: center;
  }

  .ftr-items {
    flex: 0 0 auto;
    width: 100%;
    margin-top: 40px;
    text-align: center;
  }

  .logo img {
    max-width: 100px;
  }

  .ftr-items h2 {
    font-size: 16px;
  }

  .ftr-list {
    justify-content: center;
  }
}

.contact-us {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  margin-top: 100px;
}

.contact-us-top {
  display: flex;
  width: 80%;
}

.left-form {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.left-form h1 {
  padding-bottom: 20px;
  color: #3166aa;
}

.left-form form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.left-form .element input,
.left-form textarea {
  width: 25vw;
  height: 40px;
  padding: 10px 15px;
  border: 2.1px solid #3166aa;
  resize: none;
}

.left-form .element textarea {
  height: 200px;
}

.left-form .element.submit input{
  margin-top: -10px;
}

.left-form .element.submit input {
  cursor: pointer;
  background-color: #3166aa;
  color: white;
  font-weight: 700;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
}

.left-form .element.submit input:hover {
  opacity: 0.8;
}

.right-picture {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
}

.right-picture img {
  width: 500px;
  margin-left: 100px;
}

.contact-us-map {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #3166aa;
  line-height: 40px;
  padding-top: 100px;
}

.contact-us-map h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 40px;
  text-align: center;
  color: #3166aa;
}

.contact-us-map .map {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-us-map .map iframe {
  width: 84%;
  height: 50vh;
}

@media (max-width: 1024px) {
  .contact-us {
    width: 90%;
  }

  .contact-us-top {
    flex-direction: column;
    align-items: center;
  }

  .left-form {
    width: 100%;
  }

  .left-form .element input,
  .left-form textarea {
    width: 500px;
  }

  .right-picture {
    width: 100%;
  }

  .right-picture img {
    width: 80%;
    margin-left: 0;
  }
}

@media (max-width: 768px) {
  .contact-us {
    width: 95%;
    margin-top: 10vh;
  }

  .contact-us-top .left-form .element input,
  .contact-us-top .left-form textarea {
    width: 65vw;
    margin-left: 70px;
  }
  .left-form h1 {
    margin-top: 70px;
    margin-left: 60px;
  }

  .right-picture img {
    width: 100%;
    margin-left: 85px;
  }

  .contact-us-map .map iframe {
    width: 90%;
    height: 50vh;
    margin-top: 40px;
  }
  .contact-us-map h1 {
    margin-top: -10px;
  }
  .contact-us-map p {
    margin-left: 20px;
    line-height: 1.5;
  }
}

@media (max-width: 480px) {
  .contact-us {
    width: 100%;
    margin-top: 5vh;
  }

  .contact-us-top .left-form h1 {
    font-size: 24px;
  }

  .right-picture img {
    width: 100%;
  }

  .contact-us-map h1 {
    font-size: 24px;
  }

  .contact-us-map .map iframe {
    width: 90%;
    height: 50vh;
    margin: 0 auto;
  }
}
